@import url('https://fonts.cdnfonts.com/css/forma-djr-banner');
@import url("https://use.typekit.net/qsl4wmi.css");
@import url("https://use.typekit.net/qsl4wmi.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/didot-2');
@import url('https://fonts.cdnfonts.com/css/nexa-bold');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'SilkSerif';
  src: url('/fonts/SilkSerif-Regular.woff2') format('woff2'),
       url('/fonts/SilkSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SilkSerif';
    src: url('/fonts/SilkSerif-Light.woff2') format('woff2'),
         url('/fonts/SilkSerif-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
font-family: 'SilkSerif';
src: url('/fonts/SilkSerif-ExtraLight.woff2') format('woff2'),
        url('/fonts/SilkSerif-ExtraLight.woff') format('woff');
font-weight: normal;
font-style: normal;
}  

@font-face {
  font-family: 'SilkSerif';
  src: url('/fonts/SilkSerif-Italic.woff2') format('woff2'),
       url('/fonts/SilkSerif-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SilkSerif';
  src: url('/fonts/SilkSerif-Bold.woff2') format('woff2'),
       url('/fonts/SilkSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SilkSerif';
  src: url('/fonts/SilkSerif-BoldItalic.woff2') format('woff2'),
       url('/fonts/SilkSerif-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SilkSerif';
  src: url('/fonts/SilkSerif-Blackc.woff2') format('woff2'),
       url('/fonts/SilkSerif-Black.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}



h1, h2, h3, h4, h5, h6, p {
  font-family: 'SilkSerif', 'Noto Serif', serif; /* Definisci la famiglia principale */
}

/* Stili specifici */
h1 {
  font-size: 25px !important;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 15px !important;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

p {
  font-family: 'SilkSerif', 'Noto Serif', serif!important;
  font-size: 18px !important;
  line-height: 1.5;
  font-weight: 300;
  font-style: normal;
}

.button{
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: lowercase;
}

.menu-links{
  font-family: 'SilkSerif', serif;
  font-size: 18px !important;
}

.more-button{
  font-family: 'SilkSerif', serif;

}